<nav id="nav">
	<ul>
		<li {% if page.title == 'Home' %} class="current_page_item" {% endif %}><a href="/">Home</a></li>
		<li {% if page.title == 'Branch Info' %} class="current_page_item" {% endif %}><a href="branch">Branch Information</a></li>
		<li {% if page.title == 'Partners' %} class="current_page_item" {% endif %}><a href="partners">Corporate Partners</a></li>
		<li {% if page.title == 'Gallery' %} class="current_page_item" {% endif %}><a href="gallery">Gallery</a></li>
		<li {% if page.title == 'Giving' %} class="current_page_item" {% endif %}><a href="giving">Giving</a></li>
		<li {% if page.title == 'Officers' %} class="current_page_item" {% endif %}><a href="officers">Officers</a></li>
		<li {% if page.title == 'Societies' %} class="current_page_item last" {% else %} class="last" {% endif %}><a href="societies">Societies</a></li>
	</ul>
</nav>