<nav id="nav">
	<ul>
		<li {% if page.title == 'Home' %} class="current_page_item" {% endif %}><a href="/">Home</a></li>
		<li {% if page.title == 'Branch Info' %} class="current_page_item" {% endif %}><a href="branch.html">Branch Information</a></li>
		<li {% if page.title == 'Partners' %} class="current_page_item" {% endif %}><a href="partners.html">Corporate Partners</a></li>
		<li {% if page.title == 'Gallery' %} class="current_page_item" {% endif %}><a href="gallery.html">Gallery</a></li>
		<li {% if page.title == 'Giving' %} class="current_page_item" {% endif %}><a href="giving.html">Giving</a></li>
		<li {% if page.title == 'Officers' %} class="current_page_item" {% endif %}><a href="officers.html">Officers</a></li>
		<li {% if page.title == 'Societies' %} class="current_page_item last" {% else %} class="last" {% endif %}><a href="societies.html">Societies</a></li>
	</ul>
</nav>